aiofiles==25.1.0
appdirs==1.4.4
click==8.3.1
click-default-group==1.2.4
colorama==0.4.6
janus==2.0.0
loguru==0.7.3
matplotlib==3.10.9
networkx==3.6.1
pefile==2024.8.26
Pymem==1.13.1
regex==2026.2.28
win32_setctime==1.2.0
wizwalker @ git+https://github.com/Deimos-Wizard101/Wizwalker@d22e8fbcfc515b4a76a89b24fa77717f6a546cb8